@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

body {
  @apply bg-gray-50;
  font-family: "Plus Jakarta Sans", sans-serif;
}

@theme {
  --color-primary: #60e5ae;
  --color-secondary: #a78bfa;
}
